.content{
    width:1170px;
    border: 1px solid black;
    margin-left: 80px;
}
#wapper{
    overflow: auto;
}
.sub_content,.sub_contentR,.sub_star {
    width:200px;
    height:280px;
    border: 1px solid red;
}
.sub_content{
    float: left;
    margin-top:126px ;
}
.sub_contentR{
    float: right;
    margin-top:126px ;
}

#Star{
    border: 1px solid black;
    height:300px;
    margin-top: 450px;
}
.sub_star{
    float: left;
    margin-left: 39px;
    margin-top: 20px;
}
.sub_star:first-child{
    margin-left: 0px;

}

.sub_content span.roll {
    opacity: 1;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background:url(../img/stop.png) center center no-repeat #000;
    cursor: pointer;
    height: 220px;
    width: 200px;
    position: absolute;
    z-index: 10;
    opacity: 0;
}
.sub_content span.roll:hover {
    opacity: .7;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
}
.sub_contentR span.roll {
    opacity: 1;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background:url(../img/5.PNG) center center no-repeat #000;
    cursor: pointer;
    height: 220px;
    width: 200px;
    position: absolute;
    z-index: 10;
    opacity: 0;
}

.sub_contentR span.roll:hover {
    opacity: .7;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
}
.sub_star span.roll {
    opacity: 1;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background: url("../img/5.png") center center no-repeat #000;
    cursor: pointer;
    height: 220px;
    width: 200px;
    position: absolute;
    z-index: 10;
    opacity: 0;
}

.sub_star span.roll:hover {
    opacity: .7;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
}
.imgborder{
    height: 210px;
    width: 200px;
    position:relative;
}
.Rating {
    margin-top: 5px;
    padding-left: 10px;
    border: 1px solid blue;
}
#timkiem{
    width:682px;
    border: 1px solid blue;
    float: left;
    margin-left:40px;

}
#timkiem h2{
    margin-left: 270px;
}
#timkiem h3{
    margin-left: 75px;
}
#timkiem p{
    margin-left: 120px;
}
#searchform {
    margin-left: 90px;
    border:#00afdd 2px solid;
    border-radius: 5px;
    height:40px;
    width:500px;

}
#searchform input[type=text]
{
    width:430px;
    height:34px;
    border:0px;
    background:pink;
    float:left;
    margin:0px;
    padding:3px;

}
#searchform input{
    float:right;
    margin:2px;
    background:green;
    height:34px;
}

#imggif{
    width:680px;
    height: 200px;
    border: 2px solid yellow;
    border-radius: 10px;

}


#Banhmoi{
    width:1170px;
    border: 1px solid blue;
    margin-top: 20px;
}
#boder{
    border-top: 1px solid red;
    width: 1085px;
    float: left;

}
.Seen {
    border: 1px solid red;
    position: relative;
    top:-8px;

}
/*foter*/
/*  footer  */
footer{
    padding-top: 50px;
    background: #95badf;
}


footer .footer > ul{
    overflow: hidden;
}

footer .footer > ul > li{
    display: block;
    float: left;
    list-style: none;
    margin-right: 60px;
}

footer .footer > ul > li:last-child{
    margin-right: 0;
}


footer .footer > ul > li.links{
    width: 200px;
    margin-left: 70px;
}

footer ul li.links > ul > li{
    display: block;
    width: 100%;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer ul li.links > ul > li:last-child{
    margin-bottom: 0;
}

footer .footer > ul > li.links li a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
    text-align: left;
}

footer .copyrights{
    display: block;
    text-align: center;
    padding: 40px 0;
    margin-top: 60px;
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    border-top: 1px solid #82abd4;
}

footer .copyrights a.ph_link{
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}


@media (max-width: 1150px){
    .wrapper{
        padding: 0 40px;
        max-width: 1020px;
    }



    footer .footer > ul > li{
        margin-right: 5.454545454545455%;
    }

    footer .footer > ul > li.links{
        width: 17.90909090909091%;
    }


}





